<?php if($this->getConfig('enabled')){ // start enable module?>
	<?php $this->getProducts() ?>
	<?php $_productCollection=$this->getProductCollection() ?>
	<div class="rokan-newproduct">
		
		<?php				
			if ( !$this->getConfig('width_thumbnail') ){
				$w_thumbnail = 135;
			} else {
				$w_thumbnail = $this->getConfig('width_thumbnail');
			}
			if( !$this->getConfig('height_thumbnail') ){
				$h_thumbnail = 135;
			 }
			else {
				$h_thumbnail = $this->getConfig('height_thumbnail');
			}
		?>
		<?php if($this->getConfig('title')){?>
			<div class="rokan-product-heading rokan-featured-heading"><h2><?php echo $this->getConfig('title')?></h2></div>
		<?php }?>
		<?php if(!$_productCollection->count()): ?> 
			<div class="rokan-featured-slider">	
				<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
			</div>
		<?php else: ?>
			<?php
			$rows = $this->getConfig('row_show');
			?>	
				<ul class="bxslider">
					<?php $_collectionSize = $_productCollection->count() ?>
					<?php $i=0; foreach ($_productCollection as $_product): ?>
						<?php if($i %$rows == 0) echo "<li class='featuredproductslider-item'>"; ?>

						<?php
							$newFromDate = Mage::getModel('catalog/product')->load($_product->getID())->getNewsFromDate();
							$newToDate = Mage::getModel('catalog/product')->load($_product->getID())->getNewsToDate();                 
							$now = date("Y-m-d H:m:S");
							// Get the Special Price
							$specialprice = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialPrice(); 
							// Get the Special Price FROM date
							$specialPriceFromDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialFromDate();
							// Get the Special Price TO date
							$specialPriceToDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialToDate();
							// Get Current date
							if ($specialprice&&($specialPriceFromDate <= $now && $specialPriceToDate >= $now)&& Mage::getStoreConfig('themeoptions/themeoptions_config/sale_label')){
							 echo '<div class="label-pro-sale">sale</div>';
							}else{
							 if($newFromDate <= $now && $newToDate >= $now && Mage::getStoreConfig('themeoptions/themeoptions_config/new_label') ) {
								   echo '<div class="label-pro-new">new&nbsp;!</div>';
							 }
							}
						?>

						<div class="featuredproductslider_item">
						
							<?php
							$newFromDate = Mage::getModel('catalog/product')->load($_product->getID())->getNewsFromDate();
							$newToDate = Mage::getModel('catalog/product')->load($_product->getID())->getNewsToDate();                 
							$now = date("Y-m-d H:m:S");
							// Get the Special Price
							$specialprice = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialPrice(); 
							// Get the Special Price FROM date
							$specialPriceFromDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialFromDate();
							// Get the Special Price TO date
							$specialPriceToDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialToDate();
							// Get Current date
							if ($specialprice&&($specialPriceFromDate <= $now && $specialPriceToDate >= $now)&& Mage::getStoreConfig('themeoptions/themeoptions_config/sale_label')){
							 echo '<div class="label-pro-sale"></div>';
							}else{
							 if($newFromDate <= $now && $newToDate >= $now && Mage::getStoreConfig('themeoptions/themeoptions_config/new_label') ) {
								   echo '<div class="label-pro-new"></div>';
							 }
							}
							   ?>
							<div class="product-item">
								<div class="product-image">
									<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($w_thumbnail, $h_thumbnail); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" /></a>
								</div><!--end .product-image-->		
								
								<div class="product-name">
									<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h2>
								</div>

								<?php if( $this->getConfig('show_price') ): ?>
									<?php echo $this->getPriceHtml($_product, true) ?>
								<?php endif; ?>

								<div class="product-ratting">
									<?php if($this->getConfig('review')): ?>
										<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
									<?php endif; ?>
								</div>
										
								<div class="actions clearfix">
									<div class="action-inner">
										<?php if ($this->getConfig('addtocart')) { ?>
										<?php if($_product->isSaleable()): ?>
											<button type="button"  class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><i class="fa fa-shopping-cart left"></i><span><?php echo $this->__('Add to Cart') ?></span></span></button>
										<?php else: ?>
											<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
										<?php endif; ?>
										<?php }?>	
						
										<?php if( $this->getConfig('addtowishlist') || $this->getConfig('addtocompare') ){?>
											<ul class="add-to-links">
												<?php if( $this->getConfig('addtowishlist')): ?>
													<?php if ($this->helper('wishlist')->isAllow()) : ?>
														<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"  class="link-wishlist">
														<i class="fa fa-heart"></i></a></li>
													<?php endif; ?>
												<?php endif; ?>
						
												<?php if( $this->getConfig('addtocompare')): ?>
													<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
														<li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare">
														<i class="fa fa-retweet"></i></a></li>
													<?php endif; ?>
												<?php endif; ?>
											</ul>
										<?php }?>
									</div>
								</div>
								<?php if( $this->getConfig('description')){?>
									<div class="ma-desc">
										<?php if(!$this->getConfig('maxlength')){?>
											<?php echo nl2br($this->htmlEscape($_product->getShortDescription())) ?>
										<?php } else {?>
											<?php echo nl2br($this->cut_string_featuredproductslider($this->htmlEscape($_product->getShortDescription()),$this->getConfig('maxlength'))) ?>			            
										<?php }?>			                    
									</div>
								<?php }?>
							<?php $i++;?>
							
							</div>
						
						</div>
						<?php if($i %$rows == 0) echo "</li>"; ?>                  
					<?php endforeach; ?>
						<?php if($i %$rows != 0) echo "</li>"; ?>                
				</ul>

<script type="text/javascript">
	$jq(document).ready(function(){
		//<![CDATA[
	  $jq('.rokan-newproduct .bxslider').bxSlider(
		{
		<?php if($this->getConfig('auto')) { ?>
		  auto: true,
		<?php } ?>
		  speed: <?php echo $this->getConfig('speed') ?>,
		  pause: <?php echo $this->getConfig('interval') ?>,	
		slideMargin:30,		  
		  minSlides: 2,
		  maxSlides: <?php echo $this->getConfig('items_show') ?>,
		  slideWidth: <?php echo $this->getConfig('item_width') ?>,
		<?php if ($this->getConfig('nav_ctrl')) { ?>
		  pager: true,
		<?php } else { ?> 
		  pager:false, 
		<?php } ?>
		<?php if ($this->getConfig('next_back')) { ?>
			controls: true,
		<?php } else { ?>
		    controls:false,
		<?php } ?>
		moveSlides:4,
		infiniteLoop:false,
		nextText:'<i class="fa fa-angle-right"></i>',
        prevText:'<i class="fa fa-angle-left"></i>',
		}
	  );
	  //]]>

	});
</script>
			
		<?php endif; ?>
		</div>
 
<?php } ?>


