/*Modunl-categorytabsliders=======================================================*/
.tab_container .bx-viewport { max-width: 100% !important;}
.tab_container .bx-viewport {
    min-height:420px;
} 
.box-title-category {
    display: inline-block;
    float: none;
    margin-bottom: 30px;
    padding: 0;
    text-align: left;
    width: 100%;
}
ul.tabs {
	display: inline-block;
	float: none;
	margin: 0;
	padding: 0;
}
ul.tabs li {
    text-transform: uppercase;
	color: #666666;
	border: 2px solid #d1d1d1;
	display: inline-block;
    text-align: center;
    line-height: 40px;
	float: none;
	font-family: 'vidaloka_regular';
	margin: 0 20px 0 0;
    padding: 0 20px;
	text-transform: uppercase;
}
ul.tabs li.active,
ul.tabs li:hover {
	color: #333;
	font-weight: normal;
	cursor: pointer;
    border: 2px solid #666;
}
ul.tabs li:last-child { margin: 0;}
.tab_container {
	width: 100%;
	background: #FFFFFF;
	margin: 0 0 15px;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
	display: none;
}
#container {
	width: 100%;
	margin: 0 auto;	
    border-bottom: 1px solid #ebebeb;
}
.tab_container .item { }

.tab_container .add-to-links {
    display: inline-block;
    opacity: 1;
} 
.tab_container .add-to-links li.product-detail { margin:  0;}
.tab_container .item-inner .box-item {
    display: inherit;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.tab_container .item-inner .actions {
    float: none;
    padding: 0;
    text-align: center;
    width: 100%;
    display: inline-block;
}
.tab_container .item-inner .price-box {
    width: 100%;
    text-align: center;
    margin: 1px 0 0;
}
.tab_container .product-image { background: #f5f5f5;}
.tab_container .product-name { text-align: center; margin:10px 0 0;}
.tab_container .add-to-links{ margin: 0;}
.tab_container .add-to-links li{ margin:0;}
.tab_container .old-price { display: inline-block;}
.tab_container  .special-price { clear: inherit; width: auto;}
.tab_container .item-inner .ratings { width: 100%; margin: 0; text-align: center; line-height: 15px;}
.tab_container .add-to-links li {}


/*end-categorytabsliders=======================================================*/

