/**Global**/
button:hover,
input.button_mini:hover,
input.button_small:hover,
input.button:hover,
input.button_large:hover,
input.exclusive_mini:hover,
input.exclusive_small:hover,
input.exclusive:hover,
input.exclusive_large:hover,
a.button_mini:hover,
a.button_small:hover,
a.button:hover,
a.button_large:hover,
a.exclusive_mini:hover,
a.exclusive_small:hover,
a.exclusive:hover,
a.exclusive_large:hover,
span.button_mini:hover,
span.button_small:hover,
span.button:hover,
span.button_large:hover,
span.exclusive_mini:hover,
span.exclusive_small:hover,
span.exclusive:hover,
span.exclusive_large:hover {background:#F39C11; border: 1px solid #F39C11;}
#header .shopping_cart .cart_icon,
#tptnsearch .search_icon,
#tptnsearch .close,
#tptnhtmlbox1 .box_icon,
#tptnhtmlbox2 .box_text:before,
#tptnmobilemenu .toggler {color:#F39C11;}
#tptnhtmlbox2 .box_text:hover {background:#F39C11; border: 1px solid #F39C11;}
#left_column .block .title_block{border-bottom:3px solid #F39C11;}
#left_column .block .title_block a:hover {color: #F39C11;}
#left_column .block_content li a:hover{color:#F39C11;}
ul.pagination li.current {color:#F39C11;}
ul.pagination li.current span{border: 1px solid #F39C11;}
.breadcrumb a:hover{color:#F39C11;}
#back-top:hover{background:#F39C11;}
.product-name:hover,
.product-name a:hover{color:#F39C11;}
#subcategories ul li .subcategory-name:hover{background:#F39C11;}
.cart_total_price span {color:#F39C11;}
.sdsarticleCat .sdstitle_block a:hover,
#articleRelated a:hover{color:#F39C11;}
/** Prices **/
.content_prices .our_price_display {color: #F39C11;}
/**Language-Curency**/
#languages-block-top ul li.selected span,
#languages-block-top ul li:hover a,
#currencies-block-top ul li.selected a,
#currencies-block-top ul li:hover a{color:#F39C11;}
/**Top menu**/
.mega-menu > li.mega-hover > a {background: #F39C11;}
.mega-menu li .sub li a:hover{color: #F39C11;}
#tptnmobilemenu .toggler.active {background:#F39C11; border: 1px solid #F39C11;}
.mobilemenu{border-top: 3px solid #F39C11;}
/** Product-listing **/
.tptncarousel .block_title span,
#latest-blog .block_title span{border-bottom: 3px solid #F39C11;}
.tptncarousel .functional-buttons a,
ul.product_list .functional-buttons a{border: 1px solid #F39C11; color: #F39C11;}
.flex-direction-nav a:hover,
.tptncarousel .functional-buttons a:hover,
ul.product_list .functional-buttons a:hover{background:#F39C11;}
.tptncarousel .owl-buttons div:hover,
#latest-blog .owl-buttons div:hover {background:#F39C11; border: 1px solid #F39C11;}
#tptnbrands .owl-buttons div:hover {background:#F39C11;}
/**Product**/
.pb-right-column #product_manufacturer a {color: #F39C11;}
.idTabs a:hover,
.idTabs .selected{border-bottom: 3px solid #F39C11;}
/**Product comments**/
#product_comments_block_extra a:hover{color:#F39C11;}
/**Sitemap**/
#sitemap .box a:hover{color: #F39C11;}