<?php
	$width_thumbnail = $this->getConfig('width_thumbnail');
	$height_thumbnail = $this->getConfig('height_thumbnail');
	$heading = $this->getConfig('heading');
	$rows = $this->getConfig('row_show');
	$review = $this->getConfig('review');
	$des = $this->getConfig('description');
	$des_max_leng = $this->getConfig('maxlength');
	$show_cart = $this->getConfig('addtocart');
	$show_wislist = $this->getConfig('addtowishlist');
	$show_compare = $this->getConfig('addtocompare');
	// Slider
	$autoslider = $this->getConfig('auto');
	$speedslider = $this->getConfig('speed');
	$pauseslider = $this->getConfig('interval');
	$max_slides = $this->getConfig('items_show');
	$item_slides = $this->getConfig('item_width');
	$nav_slider = $this->getConfig('nav_ctrl');
	$next_back_slider = $this->getConfig('next_back');
?>
<?php if($this->getConfig('enabled')){?>
	<script type="text/javascript">
		$jq(document).ready(function(){
		  //<![CDATA[
		  $jq('.rokan-bestsellerproduct .bxslider').bxSlider(
			{
			<?php if($autoslider) { ?>
			  auto: true,
			<?php } ?>
			  speed: <?php echo $speedslider; ?>,
			  pause: <?php echo $pauseslider; ?>,			  
			  minSlides: 2,
			  maxSlides: <?php echo $max_slides; ?>,
			  slideWidth: <?php echo  $item_slides;?>,
			  slideMargin: 30,
			  nextText:'<i class="fa fa-angle-right"></i>',
        	  prevText:'<i class="fa fa-angle-left"></i>',
			<?php if ($nav_slider) { ?>
			  pager: true,
			<?php } else { ?> 
			  pager:false, 
			<?php } ?>
			<?php if ($next_back_slider) { ?>
				controls: true,
			<?php } else { ?>
				controls:false,
			<?php } ?>
			}
		  );
		   //]]>
		});
	</script>
	<?php $this->getProducts() ?>
	<?php $_productCollection=$this->getProductCollection() ?>
	<div class="rokan-bestsellerproduct">
		<?php				
			if ( !$width_thumbnail ){
				$w_tnl = 270;
			} else {
				$w_tnl = $width_thumbnail;
			}
			if( !$height_thumbnail ){
				$h_tnl = 338;
			 }
			else {
				$h_tnl = $height_thumbnail;
			}
		?>
		<?php if($heading){?>
			<div class="rokan-product-heading rokan-bestsellerproduct-heading"><h2><?php echo $heading;?></h2></div>
		<?php }?>
		<?php if(!$_productCollection->count()): ?> 
			<div class="rokan-bestseller">	
				<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
			</div>
		<?php else: ?>
			<ul class="bxslider slides">
				<?php $_collectionSize = $_productCollection->count() ?>
				<?php $i=0; foreach ($_productCollection as $_product): ?>
					<?php if($i % $rows == 0){ ?>
						<li class='slide item bestsellerproduct-item'>
						<?php }?>

						<?php
							$newFromDate = Mage::getModel('catalog/product')->load($_product->getID())->getNewsFromDate();
							$newToDate = Mage::getModel('catalog/product')->load($_product->getID())->getNewsToDate();                 
							$now = date("Y-m-d H:m:S");
							// Get the Special Price
							$specialprice = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialPrice(); 
							// Get the Special Price FROM date
							$specialPriceFromDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialFromDate();
							// Get the Special Price TO date
							$specialPriceToDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialToDate();
							// Get Current date
							if ($specialprice&&($specialPriceFromDate <= $now && $specialPriceToDate >= $now)&& Mage::getStoreConfig('themeoptions/themeoptions_config/sale_label')){
							 echo '<div class="label-pro-sale">sale</div>';
							}else{
							 if($newFromDate <= $now && $newToDate >= $now && Mage::getStoreConfig('themeoptions/themeoptions_config/new_label') ) {
								   echo '<div class="label-pro-new">new&nbsp;!</div>';
							 }
							}
						?>

						<div class="product-item">
							<div class="pull-left">
								<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($w_tnl, $h_tnl); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" /></a>
							</div>

							<div class="box-content">
								<h2 class="product-name">
									<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a>
								</h2>

							<?php echo $this->getPriceHtml($_product, true) ?>

							<div class="product-ratting">
								<?php if($review): ?>
									<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
								<?php endif; ?>
							 </div> <!--end .product-ratting-->
							<div class="actions clearfix">
								<div class="action-inner">
									<?php if ($show_cart) { ?>
										<?php if($_product->isSaleable()): ?>
											<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
											<span><i class="fa fa-shopping-cart"></i><span><?php echo $this->__('Add to Cart') ?></span></span></button>
										<?php else: ?>
											<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
										<?php endif; ?>
									<?php }?>
									<?php if( $show_wislist || $show_compare){?>
										<ul class="add-to-links">
											<?php if( $show_wislist): ?>
												<?php if ($this->helper('wishlist')->isAllow()) : ?>
													<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
												<?php endif; ?>
											<?php endif; ?>
											<?php if( $show_compare): ?>
												<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
													<li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
												<?php endif; ?>
											<?php endif; ?>
										</ul>
									<?php }?>
								</div>
							</div>
							
							<?php if($des){?>
								<div class="short-description">
									<?php if(!$des_max_leng){?>
										<?php echo nl2br($this->htmlEscape($_product->getShortDescription())) ?>
									<?php } else {?>
										<?php echo nl2br($this->cut_string_bestsellerproduct($this->htmlEscape($_product->getShortDescription()),$this->getConfig('maxlength'))) ?>			            
									<?php }?>			                    
								</div>
							<?php }?>
					<?php $i++;?>
					</div><!--end .box-content-->
					</div><!--end .product-item-->
					<?php if($i %$rows == 0){?>                    
					</li>
					<?php }?>
				<?php endforeach; ?>
					<?php if($i %$rows != 0) { ?>
					</li>
					<?php }?>
			</ul>
		<?php endif; ?> 
	</div> 
<?php } ?>


